
*{
    font-family: 'Kanit', sans-serif;


}

body{
    
}

.section-padding{
    padding: 100px 0;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.w-100{
    height: 100vh;
}
.carousel-indicators .active{
    background-color: #f00;
}


.about{
    background: #f00;
    background-image: url("img/GROUP_SHOT-p-2000.jpg");

}

.services{
    background-image: url("img/nyjah-poster.jpg");
   color: whitesmoke;
    width: 100%;


}



/* responsive css */

@media only screen and (min-width: 768px) and (max-width:991px){

}

@media only screen and(max-width:767px) {
.navbar-nav{
    text-align: center;

}
    }

    .btn1{
        
        height: 50px;
        border-radius: 5px;
    }

    

    .add-to {
        height: 50px;
        border-radius: 5px;
        background: white;
    }

    .buy{ height: 50px;
        border-radius: 5px;
        color: white;
        background: #0D6EFD;
    }

    .rog-1 li{
        font-size: 20px;
        line-height: 50px;  

    }
    
    .card
    {
        border-color: black;
       
    }
    